{% extends "insta/main/base.html" %}
{% block content %}
{% load my_extras %}

<br>

<div class="conatiner">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
      {% for post in posts %}
        {% if forloop.counter|mod %}
          <div class="space">

          </div>
        {% endif %}
        <div class="col-md-4 ">
          <img src="{{post.picture.url}}" style="" class="img-fluid heighter " alt="">
        </div>
      {% endfor %}
    </div>
    </div>
    <div class="col-md-1">

    </div>

  </div>
</div>

{% endblock %}
